<div class="container mt-4">
  <h1 class="mb-4">Admin Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Number of Products: <%= link_to @product_count, admin_products_path %></h5>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Number of Categories: <%= link_to @category_count, admin_root_path %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
